.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;

  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: 0 0 1px #dbdbdb;
    padding: 40px;
    width: 70%;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #dbdbdb;
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #fafafa;
        font-weight: bold;
      }

      td {
        font-size: 16px;
      }
    }

    .newListButton {
      background-color: #3897f0;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}
